.modal-content-lg{
    width: 600px;
}
.modal-body-lg{
    max-height:450px;
    overflow:auto 
 }
 .input-sm{
     width:120px; 
 }
 .input-cal-sh{
    height:40px;
    border-radius: 0.25rem !important;
 }
 .default-cursor{
     cursor: pointer;
 }